<%- include('../../partials/head.ejs') %>

<div class="container my-container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 ">  
            <div class="card card-body">
                <h4>Create A New Account</h4>
            <form autocomplete="off" class="my-4" action="/auth/singup" method="POST">
                <div class="form-group mb-3">
                    <label for="username" class="form-label">Username(Must Be Uniq)</label>
                    <input type="text" name="username" id="username" class="form-control <%= error.username ? 'is-invalid' : ''%>" value="<%= value.username ? value.username : '' %>">
                    <div class="invalid-feedback">
                        <%= error.username && error.username %>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control <%= error.email ? 'is-invalid' : ''%>" value="<%= value.email ? value.email : '' %>">
                    <div class="invalid-feedback">
                        <%= error.email && error.email %>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control <%= error.password ? 'is-invalid' : ''%>" value="<%= value.password ? value.password : '' %>">
                    <div class="invalid-feedback">
                        <%= error.password && error.password %>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="repassword" class="form-label">Re-Enter Your Password</label>
                    <input type="password" name="repassword" id="repassword" class="form-control <%= error.repassword ? 'is-invalid' : ''%>">
                    <div class="invalid-feedback">
                        <%= error.repassword && error.repassword %>
                    </div>
                </div>
                <input type="submit" class="btn btn-dark" value="sing up">
                <a href="/auth/login" class="singup-login">Already have an account? Login now</a>
            </form>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>
</body>
</html>